version: "3.8"

services:
  goldic_site:
    build: .
    restart: unless-stopped
    container_name: goldic_site
    networks: [infra]
# Expose ports for localhost deploy
#    ports:
#      - "127.0.0.1:3001:3001"

networks:
  infra:
    external: true
