:root {
  --background: #f5f5f5;
  --background-main: #f5f5f5;
  --text: #222;
  --text-muted: gray;
  --highlight: #e8e8e8;
  --highlight-2: #7575bd;
  --border: #ccc;
  --link: #0000ee;
  --link-hover: #0000ee;
  --link-visited: #612a93;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181a1b;
    --background-main: #1e2021;
    --text: #d3cfc9;
    --text-muted: #988f81;
    --highlight: #25282a;
    --highlight-2: #657899;
    --border: #444;
    --link: #3d84ff;
    --link-hover: #0000be;
    --link-visited: #a36dd6;
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}

body {
  font-family: "Courier New", monospace;
  background-color: var(--background);
  color: var(--text);
  line-height: 1.6;
  padding: 20px;
  padding-top: 40px;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  color: var(--link);
  text-decoration: underline;
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  background-color: var(--link-hover);
  color: #fff;
}

hr {
  border: none;
  border-top: 1px solid var(--border);
}

ul {
  list-style-type: none;
}

ul > li::before {
  content: "/>";
  color: gray;
}

body > header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.logo {
  text-decoration: none;
  color: var(--text-muted);
}

.logo > h2 {
  font-size: 22px;
}

.logo:hover {
  background-color: var(--background);
}

.logo:visited {
  color: var(--text-muted);
}

nav > a {
  text-decoration: none;
  color: var(--text-muted);
}

nav > a:visited {
  color: var(--text-muted);
}

nav > a:hover {
  font-weight: 700;
  background-color: var(--background);
  color: var(--text-muted);
}

body > footer {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: grey;
  padding: 20px;
  gap: 12px;
}

body > footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.no-ai-icon {
  width: 18px;
  height: 18px;
  filter: grayscale();
}
