<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:url" content="https://goldic.xyz{{ request.path }}">
    <meta property="og:site_name" content="Goldic">
    <meta property="og:type" content="{{ og_type|default('website') }}">
    <meta property="og:title" content="{{ title|escape }}">
    <meta property="og:image" content="https://goldic.xyz/static/og.png">

    <meta property="og:description" content="{{ description | truncate(200, True) | e }}">
    <meta name="description" content="{{ description }}">

    <title>{% block title %}{% endblock %}</title>
    {% block head %} {% endblock %}

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self'; img-src 'self'; object-src 'none';"
    /> 

    <link rel="alternate" type="application/rss+xml" title="Goldic" href="/rss.xml">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <link rel="canonical" href="https://goldic.xyz{{ request.path }}">
  </head>
  <body>
    <header>
      <a href='/' class='logo'><h2>goldic.xyz</h2></a>
      <nav>
        <a href='/b'>Blog</a>
        <a href='/'>About</a>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <hr />
    <footer>
      <div>
        <img
          title="No content on this page is AI generated."
          src="/static/icons/no-ai-icon-01.png"
          alt="No AI"
          class="no-ai-icon"
        />
        <p>NO-JS friendly&ensp;</p>
      </div>

      <div>
        <a
          title="View website source"
          href="https://github.com/goldic342/goldic_site"
          >source</a
        >
        <a href="/static/data/publickey.asc">PGP key</a>
        <a href="/static/data/signed-content.txt.asc">Signed content</a>
      </div>
    </footer>
  </body>
</html>
