<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="static/css/index.css" />

    {% block head %} {% endblock %}
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self'; img-src 'self'; object-src 'none';"
    />
    <meta
      name="description"
      content="Goldic - Fullstack web developer and Linux enthusiast."
    /> 
    <meta name="author" content="Goldic" />
    <title>Goldic</title>
  </head>
  <body>
    <header>
      <h1>Goldic</h1>
      <h3 class="caption">Fullstack web developer. Linux enthusiast.</h3>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <hr />
    <footer>
      <div>
        <img
          title="No AI-generated content."
          src="static/images/no-ai-icon-01.png"
          alt="No AI"
          class="no-ai-icon"
        />
        <p>NO-JS friendly&ensp;</p>
      </div>

      <div>
        <a
          title="View website source"
          href="https://github.com/goldic342/goldic_site"
          >source</a
        >
        <a href="static/data/publickey.asc">PGP key</a>
        <a href="static/data/signed-content.txt.asc">Signed content</a>

        
      </div>
    </footer>
  </body>
</html>
