{% extends "_base.html" %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
{% endblock %}

{% block title %} Blog - goldic.xyz{% endblock %}

{% block content %}

<section class='info'>
  <h1>Blog</h3>
  <p>Feel free to email me if you're interested in the content of any article.</p>
</section>

<section class='posts'>
  <ul>
  {% for post in posts %}
    <li class='post'>
      <p>{{post.datetime }}</p>
      <p> - </p>
      <a href="{{ post.url }}"><b>{{ post.name }}</b></a>
    </li>
  {% endfor %}
  </ul>
</section>

{% endblock %}
