{% extends "_base.html" %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="static/css/main.css">
{% endblock %}

{% block content %}

<section>
  <h2>Contacts</h2>
  <ul class="links">
    <li>
      <a href="mailto:contact@goldic.xyz">Email</a>
    </li>
    <li>
      <a href="https://t.me/oAT6q1x">Telegram</a>
    </li>
  </ul>
</section>

<section>
  <h2>Projects</h2>
  <p class="section_description">
    Keep in mind that most publicly available projects don’t reflect my current
    skill level. I’ve been working on closed-source projects over the past year.
  </p>

  <div class="project">
    <header>
      <h3>Urelocate</h3>
      <div class="project_tags">
        <span>Fullstack</span> / <span>React</span> /
        <span>FastAPI</span>
      </div>
    </header>
    <p>
      Web app that matches users with relocation jobs by country and
      preferences. Provides a personalized score estimating relocation
      likelihood. Built during a hackathon.
    </p>

    <footer>
      <a href="https://github.com/goldic342/urelocate-v2">source</a> |
    </footer>
  </div>

  <div class="project">
    <header>
      <h3>Viniqufy</h3>
      <div class="project_tags">
        <span>PostgreSQL</span> /
        <span>FastAPI</span>
      </div>
    </header>
    <p>
      Web app that analyzes your Spotify playlist to determine its uniqueness.
    </p>
    <div>
      <a href="https://github.com/goldic342/viniqufy">source</a>
    </div>
  </div>
  <div class="project">
    <header>
      <h3>Tradingone</h3>
      <div class="project_tags">
        <span>Private</span> / <span>Docker</span> /
        <span>MongoDB</span>
      </div>
    </header>
    <p>
      Web app with trading dashboard and landing page. Integrated with Bybit,
      KuCoin, and Binance APIs. Telegram bot for trade notifications and remote
      commands.
    </p>
    <div>
      <a href="https://tradingone.pro">live</a>
    </div>
  </div>
</section>
<section>
  <h2>Self-Hosted services</h2>
  <ul>
    <li>
      <a href="https://search.goldic.xyz">SearXNG</a> - no logs, no tracing
    </li>
  </ul>
</section>

{% endblock %}
