{% extends "_base.html" %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/post.css" />
<style>

{{ pygments_light_css }}

@media (prefers-color-scheme: dark) {
  {{ pygments_dark_css }}
}
</style>
{% endblock %} 

{% block title %}{{ title }}{% endblock%}

{% block content %}

<section class='info'>
  <h1><a href='' class='unstyled'>{{ title }}</a></h1>
  <div>
    <h4>{{ publish_date }}</h4>
    <a href="/up/md/{{ generic_name }}.md" class='unstyled'>source</a>
  </div>
</section>



<article>
{{ content|safe }}
</article>

{% endblock %}
